*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	/*font-family: sans-serif;*/
}
body.main.application{
	overflow: hidden;
}
.icon-back i{
    padding: 1rem !important;
    font-size: 3rem !important;
}
/*HOME PAGE*/
@keyframes alterColor{
	0%{
		color: #fd005f;	
	}
	25%{
		color: #ff8f00;
	}
	50%{
		color: #00d8fd;		
	}
	75%{
		color: #00ffe9;
	}
	100%{
		color: #fd005f;	
	}
}
/*.toggle-for-sign-up:hover, .toggle-for-login:hover{
	cursor: pointer;
}*/
.uppercase{
	text-transform: uppercase;
}
.mt-5{
	margin-top: 5rem !important;
}
div.bar-top{
	padding-top:0.5rem;
	padding-bottom: 0.1rem
}
div.footer{
	padding:1rem;
	margin-top: 5rem;
	background: #e0e0e0;
}
body.main.home-page, a.btn-flat{
	color: #fd005f;
	-webkit-animation: alterColor 100s ease infinite alternate;
	   -moz-animation: alterColor 100s ease infinite alternate;
	    -ms-animation: alterColor 100s ease infinite alternate;
	     -o-animation: alterColor 100s ease infinite alternate;
	        animation: alterColor 100s ease infinite alternate;
}
body.main.home-page{
	/*background-color: #383838;*/
	background:white;
}
body.main.home-page p{
	text-align: justify;
}
h1.material-icons{
	font-size: 10rem;
}
.header{
	padding:  10rem 0 10rem 0 ;
}
