*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: sans-serif;
}
body{
	overflow: hidden;
}
.quadrado, .diamante, .circulo, .triangulo{
	width: 20px;
	height: 20px;
	background: #039be5;
	float: left;
	margin: 10px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.circulo{
	border-radius: 100%;
}
.diamante, .triangulo{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.triangulo{
	background: linear-gradient(to right bottom, #039be5 0%,#039be5 50%,rgba(255, 255, 255, 0) 50%,rgba(255, 255, 255, 0) 100%);
	margin-top: 15px;
	transform: scale3d(0.99,1.7,1) rotate(45deg);
	margin-top: 21px;
}
.draggable{
	width: 90px; 
	height: 90px; 
	padding: 0.5em; 
	float: left; 
	margin: 0 10px 10px 0; 
}

#containment-wrapper { 
	height:700px; 
	padding: 10px; 
	z-index: -3;
}
h3 { clear: left; }
main{
	width:100%;
}
.square, .circle{
	width: 30px	;
	height: 30px	;
	background: red;
	border: 1px solid black;
}
.diamond{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.triangle{
	/* -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg); */
	background: linear-gradient(to right bottom, #000000 0%,#000000 50%,rgba(255, 255, 255, 0) 50%,rgba(255, 255, 255, 0) 100%);
}
.circle{
	border-radius: 50%;
}
.oculto{
	opacity: 0;
}
.oculto:hover{
	opacity: 1;
}
.wid-100{
	width: 100%;
}
#listObjetos{
	/* overflow-y: scroll; */
	border: none;
	/* height: 250px; */
	/* width: 100%; */
	/* margin-top: -1px; */
}
i.material-icons:hover{
	cursor: pointer;
}
i.material-icons.selected {
	background: rgba(255, 255, 255, 0.65);
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: #F4F4F4;
}
::-webkit-scrollbar {
	width: 1px;
	background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
	background: #dad7d7;
}
.hidden{
	display: none;
}
.show{
	display: block;
}
.select-color, .select-form{
	width: 100%;
}
.select-color i , .select-form i{
	width: 15%;
	height: 15px;
	padding: 0;
	float: left;
	text-align: center;
	padding-bottom: 78px;
}
i.material-icons.color-option{
	box-sizing: border-box;
}

#colorSelector, #borderSelector, #alterColor, #alterBorderColor{
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../images/select.png);
}
#colorSelector div, #borderSelector div, #alterColor div, #alterBorderColor div{
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../images/select.png) center;
}
a.mode-selection:hover, a.forma-selection:hover{
	cursor: pointer;
}
a.mode-selection.active, a.forma-selection.active {
	color: white;
}
a.forma-selection.active div{
	background: white;
}
a.forma-selection.active div.triangulo{
	/* background: white; */
	background: linear-gradient(to right bottom, white 50%,rgba(255, 255, 255, 0) 50%,rgba(255, 255, 255, 0));

}
.material-tooltip{
	z-index: 999;
}
.clear{
	clear: both;
}
.mode {
    height: 60px;
    margin-top: 20px;
}
a.mode-selection {
	font-size: 20px;
	margin: 10px;
}
#layers{
	height: 300px;
	background: white;
	overflow-x: scroll;
}